/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// 颜色
$accentColor = #3768FB
$textColor = #333333
$borderColor = #F4F4F4
$codeBgColor = #333333
$arrowBgColor = #FFF
$badgeTipColor = #409EFF
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #F66363
